*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#div1{
    /* border: 2px solid red; */
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/47c2bc92-5a2a-4f33-8f91-4314e9e62ef1/web/IN-en-20240916-TRIFECTA-perspective_72df5d07-cf3f-4530-9afd-8f1d92d7f1a8_large.jpg');
    height: 700px;
}
#nav1{
    /* border: 2px solid green; */
    background-color:black;
    height: 90px;
}
#nav1 img{
    height: 60px;
    padding: 20px;
    margin-left: 100px;
}
#nav1 select{
    margin-left: 950px;
    font-size: 25px;
    border-radius: 10px;
}
#div2{
    /* border: 2px solid yellow; */
    margin-top: -70px;
    margin-left: 200px;
}
#div3{
      margin-top: -35px;
}
#div3 button{
    /* border: 2px solid yellow; */
    height: 40px;
    font-size: 24px;
    margin-left: 1300px;
    background-color: red;
    border-radius: 10px;
}
#p1{
    color: white;
    font-size: 60px;
    font-weight: bold;
    margin-left: 500px;
    margin-top: 150px;
}
#p2{
    color: white;
    font-size: 30px;
    margin-left: 550px;
    margin-top: -30px;
}
#p3{
    color: white;
    font-size: 25px;
    margin-left: 400px;

}
input{
    font-size: 20px;
    margin-left: 500px;
    height: 50px;
    width: 400px;
}
 #div3 #btn2{
        border: 2px solid yellow;
}
#btn2{
    font-size: 29px;
    height: 50px;
    background-color: red;
    color: white;
}
#div4{
    border: 2px solid;
    background-color: black;
    height: 700px;
    font-size: 30px;
}
h3{
    color: white;
    margin-top: 60px;
    margin-left: 180px;
    
}
#div5{
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: space-evenly;
}
#div5 img:hover{
         transform: scale(1.2);
         cursor: pointer;
}
#grid{
     /* border: 2px solid red; */
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr 1fr 1fr;
      color: white;
      background-color: black;
      font-size: 20px;
      padding: 30px;
      font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
      gap: 20px;
      /* width: 3000px; */
      height:400px;
}
#div6{
     /* margin-left: 100px; */
     background-color: black;
     margin-top: -40px;
     /* border: 7px solid red; */
     color: white;
     height: 1200px;
     padding: 100px;
}
#grid h4{
    font-size: 20px;
}
#g1{
    /* border: 2px solid green; */
    width: 300px;
    padding: 10px;
    height: 300px;
    background: linear-gradient(darkblue, blueviolet);
    
}
#g2{
    /* border: 2px solid green; */
    width: 300px;
    padding: 10px;
    height: 300px;
    background: linear-gradient(darkblue, blueviolet);
    
}
#g3{
    /* border: 2px solid green; */
    width: 300px;
    padding: 10px;
    height: 300px;
    background: linear-gradient(darkblue, blueviolet);
    
}
#g4{
    /* border: 2px solid green; */
    width: 300px;
    padding: 10px;
    height: 300px;
    background: linear-gradient(darkblue, blueviolet);
    
}
svg{
    margin-left: 200px;
    margin-top: -20px;
}
#d1 p{
    padding: 5px;
    /* border:3px solid red; */
    /* width:1200px; */
    background-color: slategray;
}
#d1 p:hover{
    cursor: pointer;
    background-color: grey;
}
#d2 p:hover{
    background-color: grey;
    cursor: pointer;

}
#d3 p:hover{
    background-color: grey;
    cursor: pointer;

}
#d4 p:hover{
    background-color: grey;
    cursor: pointer;

}
#d5 p:hover{
    background-color: grey;
    cursor: pointer;

}
#d6 p:hover{
    background-color: grey;
    cursor: pointer;

}
#d2 p{
    padding: 5px;
    background-color: slategray;
}

#d3 p{
    padding: 5px;
    background-color: slategray;
}

#d4 p{
    padding: 5px;
    background-color: slategray;
}

#d5 p{
    padding:5px;
    background-color: slategray;
}

#d6 p{
    padding: 5px;
    background-color: slategray;
}

#list{
    /* border: 10px solid red; */
     display: flex;
     justify-content: space-between;
     text-decoration-line: underline;
     cursor: pointer;
}
.ul1{
    /* border: 3px solid green; */
    list-style-type:none;
    margin-top: 180px;
}
.ul2{
    list-style-type:none;
    margin-top: 180px;
}
.ul3{
    list-style-type:none;
    margin-top: 180px;
}
.ul4{
    list-style-type:none;
    margin-top: 180px;
}
#ip{
    border-radius: 10px;
}
#foot button{
    font-size: 30px;
    background-color: red;
}
#pg{
    text-align: center;

}
#ni{
    margin-top: 100px;
}